@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Lobster&family=Merriweather:ital,wght@0,700;1,700&family=Roboto:wght@300&family=Tapestry&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dropdown_navbar{
  color: red;
}

.Hero {
  background-image: url('./images/sslon.jpg');
  background-repeat: no-repeat;
  height: 60vh;
  background-position-y: 10vh;
}

.Logo{font-family: 'Akaya Telivigala', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tapestry', cursive;
}

